<mat-card *ngIf="product" class="product-card" (mouseenter)="hover($event)" (mouseleave)="unHover($event)">
    <!--    <mat-card-header>-->
    <!--        <mat-card-title>Title</mat-card-title>-->
    <!--        <mat-card-subtitle>SubTitle</mat-card-subtitle>-->
    <!--    </mat-card-header>-->
    <a routerLink="/products/{{product.id}}" class="product-card__img-link">
        <img class="product-card__img" src="{{product.imageUrl}}"
             alt="Product {{product.sku}}">
    </a>
    <mat-card-content>
        <p class="product-card__name">{{product.name}}</p>
        <p class="product-card__price">{{product.unitPrice | currency}}</p>
    </mat-card-content>
    <mat-card-footer>
        <button (click)="addToCart(product)" class="product-card__button" mat-raised-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to cart
        </button>
    </mat-card-footer>
</mat-card>