<fieldset class="order__fieldset product-list">
    <legend>Products in order</legend>
    <app-products-table
            [changeQuantityDisabled]="changeQuantityDisabled"
            [items]="orderItems"
            [totalPrice]="orderInfo?.totalPrice || 0"
            [totalQuantity]="orderInfo?.totalQuantity || 0"
            [displayedColumns]="displayedColumns"
            (decrement)="decrementQuantity($event)"
            (increment)="incrementQuantity($event)"
    >
    </app-products-table>
</fieldset>
<form [formGroup]="orderFormModel" autocomplete="off" (submit)="onSubmit()">


    <fieldset class="order__fieldset">
        <legend>Info</legend>
        <div class="order__info" fxLayout="row" fxLayoutAlign="center start">
<!--            <mat-form-field appearance="outline">-->
<!--                <mat-label>Order ID</mat-label>-->
<!--                <input matInput formControlName="orderId">-->
<!--            </mat-form-field>-->
            <mat-form-field appearance="outline">
                <mat-label>Customer e-mail</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Order status</mat-label>
                <mat-select formControlName="orderStatus" [compareWith]="compareStatuses">
                    <mat-option *ngFor="let status of orderStatusList" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </fieldset>

    <fieldset class="order__fieldset" formGroupName="shippingAddress">
        <legend>Shipping address</legend>
        <mat-form-field appearance="outline">
            <mat-label>Apartment</mat-label>
            <input matInput formControlName="apartment">
            <mat-error
                    *ngIf="orderFormModel.get('shippingAddress.apartment')?.touched && orderFormModel.get('shippingAddress.apartment')?.errors?.required">
                Apartment is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput formControlName="street">
            <mat-error
                    *ngIf="orderFormModel.get('shippingAddress.street')?.touched && orderFormModel.get('shippingAddress.street')?.errors?.required">
                Street is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
            <mat-error
                    *ngIf="orderFormModel.get('shippingAddress.city')?.touched && orderFormModel.get('shippingAddress.city')?.errors?.required">
                City is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country">
            <mat-error
                    *ngIf="orderFormModel.get('shippingAddress.country')?.touched && orderFormModel.get('shippingAddress.country')?.errors?.required">
                First name is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput formControlName="state">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Zip code</mat-label>
            <input matInput formControlName="zip">
            <mat-error
                    *ngIf="orderFormModel.get('shippingAddress.zip')?.touched && orderFormModel.get('shippingAddress.zip')?.errors?.required">
                Zip code is <strong>required</strong></mat-error>
        </mat-form-field>
    </fieldset>


    <button type="submit" mat-raised-button color="primary" class="submit-button"
            [disabled]="!orderFormModel.valid">Save
    </button>
</form>