.main {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

app-aside {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 12em;
    margin-right: 2em;
}

.main__content {
    flex-grow: 1;
}