
.products-category__wrapper {
    display: flex;
    border-top: 1px solid #d6d6d6;
}

app-category-list {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 12em;
    margin-top: 1.9em;
}

app-select {
    margin-right: 1.5em;
    align-self: center;
}

:host ::ng-deep .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
}

:host ::ng-deep app-select .mat-form-field-wrapper {
    padding-bottom: 0;
}

.products__main-block {
    flex-grow: 1;
    margin-top: 1.5em;
}

.products__control {
    display: flex;
    font-size: 14px;
    color: #4d4d4d;
    padding: 0 10px 0 10px;
}

.pagination-control__wrapper {
    display: flex;
    align-items: center;
    color: #4d4d4d;
    margin-left: auto;
}

.pagination-control__label {
    font-size: 1.1em;
}

.product-search-form {
    width: 18em;
    font-size: 1.35em;
    margin-right: 1.5em;
}

:host ::ng-deep .ngx-pagination {
    /*display: flex;*/
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

:host ::ng-deep .ngx-pagination .pagination-previous a::before,
:host ::ng-deep .ngx-pagination .pagination-previous.disabled::before {
    content: '«';
    display: block;
    margin-right: 0;
    font-size: 1.2em;
}

:host ::ng-deep .ngx-pagination .pagination-next a::after,
:host ::ng-deep .ngx-pagination .pagination-next.disabled::after {
    content: '»';
    display: block;
    font-size: 1.2em;
    margin-left: 0;
}

.products__cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-right: auto;
}