<table>
    <thead>
    <tr>
        <th>id</th>
        <th>sku</th>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>img</th>
        <th>active</th>
        <th>quantity</th>
        <th>image</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempProduct of products">
        <td>{{ tempProduct.id }}</td>
        <td>{{ tempProduct.sku }}</td>
        <td>{{ tempProduct.name }}</td>
        <td>{{ tempProduct.description }}</td>
        <td>{{ tempProduct.unitPrice }}</td>
        <td>{{ tempProduct.imageUrl }}</td>
        <td>{{ tempProduct.active }}</td>
        <td>{{ tempProduct.unitsInStock }}</td>
        <td><img style="height: 50px; width: auto" src="{{tempProduct.imageUrl}}" alt="product img"/></td>
    </tr>
    </tbody>
</table>
