app-select {
    margin-right: 1.5em;
}

/*.products__main-block {*/
/*    max-width: 740px;*/
/*}*/

.products__control {
    display: flex;
    font-size: 14px;
    color: #4d4d4d;
    padding: 0 10px 0 10px;
}

.pagination-control__wrapper {
    display: flex;
    align-items: center;
    color: #4d4d4d;
    margin-left: auto;
}

.pagination-control__label {
    font-size: 1.1em;
}

.product-search-form {
    width: 20em;
    font-size: 1.35em;
}

:host ::ng-deep .ngx-pagination {
    /*display: flex;*/
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

/*:host ::ng-deep .ngx-pagination::before, :host ::ng-deep .ngx-pagination::after {*/
/*    content: ' ';*/
/*    display: inline-block;*/
/*}*/

/*.ngx-pagination::after {*/
/*    clear: both;*/
/*}*/

/*:host ::ng-deep .ngx-pagination li {*/
/*    width: 30px;*/
/*    height: 31px;*/
/*    background-color: #f4f4f4;*/
/*    text-align: center;*/
/*    line-height: 30px;*/
/*    cursor: pointer;*/
/*    margin-left: 4px;*/
/*    -webkit-user-select: none;*/
/*    -ms-user-select: none;*/
/*    margin-right: 0;*/
/*    padding: 2px;*/
/*}*/

/*.ngx-pagination a:hover,*/
/*.ngx-pagination button:hover {*/
/*    background: #e6e6e6;*/
/*}*/

/*:host ::ng-deep .ngx-pagination .current {*/
/*    background: #e5e5e5;*/
/*    padding: 2px;*/
/*    color: #000000;*/
/*}*/

/*:host ::ng-deep .ngx-pagination .disabled {*/
/*    padding: 0;*/
/*    color: #cacaca;*/
/*    cursor: default;*/
/*}*/

/*.ngx-pagination .disabled:hover {*/
/*    background: transparent;*/
/*}*/

/*:host ::ng-deep .ngx-pagination a, :host ::ng-deep .ngx-pagination button {*/
/*    cursor: pointer;*/
/*    color: #0a0a0a;*/
/*    display: block;*/
/*    padding: 0;*/
/*    border-radius: 0;*/
/*}*/

/*:host ::ng-deep .ngx-pagination .pagination-previous,*/
/*:host ::ng-deep .ngx-pagination .pagination-next {*/
/*    padding: 0;*/
/*}*/

:host ::ng-deep .ngx-pagination .pagination-previous a::before,
:host ::ng-deep .ngx-pagination .pagination-previous.disabled::before {
    content: '«';
    display: block;
    margin-right: 0;
    font-size: 1.2em;
}

:host ::ng-deep .ngx-pagination .pagination-next a::after,
:host ::ng-deep .ngx-pagination .pagination-next.disabled::after {
    content: '»';
    display: block;
    font-size: 1.2em;
    margin-left: 0;
}

.products__cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    border-top: 1px solid #d6d6d6;
}