<mat-toolbar>
    <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--        <mat-icon>menu</mat-icon>-->
    <!--    </button>-->
    <div class="header _container">
        <span>LookShop</span>
        <span class="spacer"></span>
        <button mat-raised-button class="btn">
            <mat-icon>perm_identity</mat-icon>
            Account
        </button>
        <button mat-raised-button class="btn" aria-label="Example icon-button with share icon">
            <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>