<mat-toolbar color="primary" class="header _container">
    <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--        <mat-icon>menu</mat-icon>-->
    <!--    </button>-->
    <div class="header _container">
        <a mat-button routerLink="/">LookShop</a>
        <span class="spacer"></span>
        <a *ngIf="authService.isLoggedIn" mat-stroked-button class="account-link" routerLink="account">Account</a>
        <a *ngIf="authService.isLoggedIn" mat-stroked-button class="account-link" (click)="authService.logout()">Logout</a>
        <a *ngIf="!authService.isLoggedIn" mat-stroked-button class="account-link" routerLink="auth">Login</a>
        <button mat-stroked-button class="btn">
            <mat-icon matBadge="15" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>