<app-products-table
        [items]="cartItems"
        [totalPrice]="totalPrice"
        [totalQuantity]="totalQuantity"
        [displayedColumns]="displayedColumns"
        (decrement)="decrementQuantity($event)"
        (increment)="incrementQuantity($event)"
>
</app-products-table>

<div *ngIf="cartItems.length < 1" class="cart-empty-message"><span>Cart is empty</span></div>

<div class="order-block">
    <a routerLink="/products">Back to products</a>
    <a *ngIf="cartItems.length > 0 && isLoggedIn" class="order-button"
       routerLink="/checkout"
       mat-raised-button color="primary">
        Checkout
    </a>
    <a *ngIf="cartItems.length > 0 && !isLoggedIn" class="order-button"
       routerLink="/auth"
       mat-raised-button color="primary">
        Log In to checkout
    </a>
</div>