$minWidth: 320px
$maxWidth: 1200
$maxWidthContainer: 1200
$mainColor: #fd926d

body
  font-family: Roboto, "Helvetica Neue", sans-serif

a
  text-decoration: none

button
  border: none
  cursor: pointer

*
  box-sizing: border-box
  margin: 0
  padding: 0
  border: 0
  scroll-behavior: smooth

ul, ol, li
  list-style: none

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  margin-block-end: 0
  margin-block-start: 0

button,
input
  font-size: inherit
  outline: none

select,
option
  appearance: none
  border: none
  outline: none

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  -webkit-text-fill-color: inherit !important
  -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset
  transition: background-color 5000s ease-in-out 0s

._container
  width: $maxWidthContainer+px
  margin: 0 auto

