<div class="form-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="">

        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form class="login-form"
              [formGroup]="loginFormModel" autocomplete="off" (submit)="onSubmit()">
            <mat-card-content>

                <mat-form-field class="" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-hint>Non Empty valid email is needed</mat-hint>
                    <mat-error *ngIf="loginFormModel.get('email')?.touched && loginFormModel.get('email')?.errors?.email">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginFormModel.get('email')?.touched && loginFormModel.get('email')?.errors?.required">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-error *ngIf="loginFormModel.get('password')?.touched && loginFormModel.get('password')?.errors?.minlength">
                        At least 5 symbols needed
                    </mat-error>
                    <mat-error *ngIf="loginFormModel.get('password')?.touched && loginFormModel.get('password')?.errors?.required">
                        Non empty password is <strong>required</strong>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

            </mat-card-content>
            <button type="submit" mat-fab color="primary" class="submit-button" [disabled]="!loginFormModel.valid">
                <mat-icon>done_outline</mat-icon>
            </button>
        </form>
    </mat-card>

</div>