<mat-card fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="20">
        <h2>{{userInfo?.firstName!}} {{userInfo?.lastName!}}</h2>
        <h3>{{userInfo?.email!}}</h3>
        <div>[<span *ngFor="let role of userInfo?.roles">{{role}}  </span>]</div>
        <ul class="account__menu">
            <li><a routerLink="orders" routerLinkActive="_active">Orders</a></li>
            <li *ngIf="userInfo?.roles?.includes('admin')"><a routerLink="users" routerLinkActive="_active">Users</a></li>
        </ul>
    </div>

    <div fxFlex="80">
        <router-outlet></router-outlet>
    </div>
</mat-card>




